<!DOCTYPE html>
<html lang="en">
<head>
  <title>Freescience.info</title>
  <meta charset="utf-8">
  <meta http-equiv="Cache-Control" content="max-age=600"/> 
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="copyright" content="Copyright Claudio Attaccalite (http://attaccalite.com)">
  <link rel="stylesheet" href="../css/reset.css" type="text/css" media="all">
  <link rel="stylesheet" href="../css/style.css" type="text/css" media="all">
  <link rel="stylesheet" href="../css/zerogrid.css">
	<link rel="stylesheet" href="../css/responsive.css">
	<link rel="stylesheet" href="../css/responsiveslides.css" />
  <script type="text/javascript" src="../js/jquery-1.4.2.min.js" ></script>
  <script type="text/javascript" src="../js/cufon-yui.js"></script>
  <script type="text/javascript" src="../js/Humanst521_BT_400.font.js"></script>
  <script type="text/javascript" src="../js/Humanst521_Lt_BT_400.font.js"></script>
	<script type="text/javascript" src="../js/roundabout.js"></script>
  <script type="text/javascript" src="../js/roundabout_shapes.js"></script>
  <script type="text/javascript" src="../js/gallery_init.js"></script>
  <script type="text/javascript" src="../js/cufon-replace.js"></script>
  <script src="js/css3-mediaqueries.js"></script>
  <script async custom-element='amp-ad' src='https://cdn.ampproject.org/v0/amp-ad-0.1.js'></script>
  <!--[if lt IE 7]>
  	<link rel="stylesheet" href="css/ie/ie6.css" type="text/css" media="all">
  <![endif]-->
  <!--[if lt IE 9]>
  	<script type="text/javascript" src="js/html5.js"></script>
    <script type="text/javascript" src="js/IE9.js"></script>
  <![endif]-->
</head>

<body>
  <!-- header -->
  <header>
    <div class="container">
    	<h1><a href="index.html">FreeScience.info</a></h1>
      <nav>
        <ul>
        	<li><a href="../index.html">Home</a></li>
          <li><a href="../news.html">News</a></li>
          <li><a href="../books.html" class="current">Books</a></li>
          <li><a href="../about.html">About</a></li>
          <li><a href="../contacts.html">Contact</a></li>
          <li><a href="../sitemap.html">Sitemap</a></li>
        </ul>
      </nav>
    </div>
	</header>
  <div class="main-box">
    <div class="container">
      <div class="inside">
        <div class="wrapper zerogrid">
			<div class="row">
        	<!-- aside -->

          <!-- content -->
		  <div class="col-3-4">
			  <div class="wrap-col">
		          <section id="content">
		            <article>
                    <center>
                        <center><div class="cat_title"><h2>Book title</h2></div></center>
                        <span class="categories_php">
<div class="row" style="background-color:#eee;">
  <div class="column" >
    <h2>Column 1</h2>
  </div>
  <div class="column">
    <h2>Column 2</h2>
  </div>
  <div class="column">
    <h2>Column 3</h2>
  </div>
</div>
<div class="row" style="background-color:#ddd;">
  <div class="column" >
    <h2>Column 1</h2>
  </div>
  <div class="column">
    <h2>Column 2</h2>
  </div>
  <div class="column">
    <h2>Column 3</h2>
  </div>
</div>
<div class="row" style="background-color:#eee;">
  <div class="column" >
    <h2>Column 1</h2>
  </div>
  <div class="column">
    <h2>Column 2</h2>
  </div>
  <div class="column">
    <h2>Column 3</h2>
  </div>
</div>
</span>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- bar_on_books_small -->
<ins class="adsbygoogle"
     style="display:inline-block;width:468px;height:15px"
     data-ad-client="ca-pub-2496472530545325"
     data-ad-slot="6965783002"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script></center>
<ul class="news">
    <li> book 1</li>
    <li> book 2</li>
</ul>
		            </article> 
		          </section>
			  </div>
		  </div>


			<div class="col-1-4">
				<div class="wrap-col">
		          <aside>
                      <center><h2><span><a href="../books.php">Books Menu</a></span></h2></center>
		            <!-- .news -->
		            <ul class=news>
                        <li><center> <h3> <span class="cat1_php"></span></center></li>
                        <li><center> <h3> <span class="cat2_php"></span> </center></li>
                        <li><center><my_figure> Search for a book</my_figure>
<form action="http://www.google.com/cse" id="cse-search-box">
  <div>
    <input type="hidden" name="cx" value="partner-pub-2496472530545325:3726481905" />
    <input type="hidden" name="ie" value="UTF-8" />
    <input type="text" name="q" size="18" />
    <input type="submit" name="sa" value="Search" />
  </div>
</form>
<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=en"></script>
</center>
                        </li>
                        <li><br>
                            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- left_bar_new -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2496472530545325"
     data-ad-slot="5799685770"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script></li>
		            </ul>
		            <!-- /.news -->
		          </aside>	
			  </div>
		  </div>

		  </div>
        </div>
      </div>
    </div>
  </div>
  <!-- footer -->
  <footer>
    <div class="container">
    	<div class="wrapper">
            <div class="fleft">Copyright - <a href="http://attaccalite.com">Claudio Attaccalite</a></div>
        <div class="fright">Designed by <a rel="nofollow" href="http://www.templatesmonster.com" target="_blank">Templatemonster</a> & <a href="https://www.zerotheme.com" title="free website templates">ZEROTHEME</a></div>
      </div>
    </div>
  </footer>
  <script type="text/javascript"> Cufon.now(); </script>
</body>
</html>
